<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Ver Grupo</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Crear Grupo</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Ver Gastos</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Cargar Gastos</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    
    <router-outlet></router-outlet>
</div>